body{
    height: 700px;
    background:url("../images/img9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


 h1
{ 
    color : #9f00a7;
    font-family: "Tangerine", serif; 
    font-weight: bold; 
    font-size: 70px; 
    position: relative;
    left: 30px;
} 
 .header
{
   
   z-index: 1000;
    width : 100%; 
 } 

/*container design*/
.control-label
{
    float: left;
}
.container .inner
{
    width: 480px;
    margin: 100px auto;
    border : 1px solid none; 
    background: rgba(55,55,55, 0.4);
    padding: 10px;
   transform: skew(30deg,10deg);
   -moz-transform: skew(30deg,10deg);
   -o-transform: skew(30deg,10deg); 
    transition-duration: 0.7s;
}
.container .inner:hover
{
    transform:skew(0deg,0deg);
     -moz-transform:skew(0deg,0deg);
     -o-transform:skew(0deg,0deg);
     transition-duration: 0.7s;
      background: transparent;
}
.inner h1
{
    color : rgb(200,200,200); 
    font-family: "Tangerine", serif; 
     font-weight: bold; 
     text-align: center; 
     font-size: 80px
}
.inner h3
{
    color: rgb(200,200,200);
    font-size: 18px; 
    font-family: calibri;
    text-align: center; 
    margin-top: -5px
}
.inner form label span
{
    /* color: white; */
    color: darkgoldenrod;
}
.inner form lagend
{
    color: white;
    font-size: 20px;
    color: rgb(15, 128, 0);
}
.inner .input
{
    width : 90%; border: none;
     border-bottom: 1px solid white; 
     color: #9f00a7;
      background: transparent; 
      padding: 10px;
}
.inner .input:focus
{
    box-shadow: none;
     border: 1px solid none;
}
.container hr
{
    border-color: rgb(100,100,100);
}
.inner .button
{
    border-radius:10px 10px 10px 10px;
    color: #9f00a7; 
    background: rgba(50,50,50, 0.4);
    padding: 2px 30px ; 
    border: 2px solid #9f00a7;  
    font-family: calibri;
    margin:10px auto; 
    font-weight: bold;
}
.inner .button:hover
{
    background: #8f00a7; 
    color: white;
}

#fgtpsd
{
    color: darkblue;
}
.end
{   
   
    text-align: center;
    color : #9f00a7;
    font-family: "Tangerine", serif; 
    font-weight: bold; 
    font-size: 70px; 
    position: relative;
    left: -30px;
    margin-right:-30px;
    background-image: url("../images/bg1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -10px;
}

